:root{
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #FFC107;
  --secundario: #0097a7;
  --gris: #757575;
  --fontBody:'Nunito', sans-serif;
}

html{
  font-size: 62.5%;
}

body{
  font-size: 16px;
  font-family: var(--fontBody);
}


.titulo {
  text-align: center;
  font-size: 3.8rem;
  font-family: 'Nunito', sans-serif;
}

.titulo span {
  font-size: 2rem;
}


.contenedor{
  width: 120rem;
  margin: 0 auto 0 auto;

}

.nav-bg{
  background-color: var(--secundario);
}

.navegacion-principal{
  display: flex;
  justify-content: space-between;
}

.navegacion-principal a{
  text-decoration: none;
  color: var(--blanco);
  font-size: 2rem;
  padding: 1rem;
}

.navegacion-principal a:hover{
  background-color: var(--primario);
  color: var(--oscuro);
}